
<h1 style="color:white">Enter an address you want to look up:</h1>
<br>
@using (Html.BeginForm("StreetView", "Housing", FormMethod.Get))
{
    <div class="justify-content-center">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-floating m-2">
                    <input name="streetAddress" id="streetAddress" class="form-control" placeholder="1313 Mockingbird Ln" required>
                    <label for="streetAddress">Street Address</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="form-floating m-2">
                    <input type="text" name="cityName" id="city" class="form-control" placeholder="Hollywood" required>
                    <label for="cityName">City</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-floating m-2">
                    <select name="stateAbbrev" id="states" class="form-control" required>
                        <option value="">Select a state</option>
                    </select>
                    <label for="stateAbbrev">State</label>
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-danger" id="submit_button" type="submit" value="Submit">
}