
<h1 style="color:white">Enter a city you want to look up:</h1>
<form action="CrimeStats" method="get">
    <partial name="_StateAndCityFields" />
    <br><br>
    <button id="submit_button" type="submit" class="btn btn-danger">Submit</button>
</form>