
    <h1 style="color:white">Enter a city you want to look up:</h1>
<form action="Crime/CrimeStats" method="get">
    <label for="cityName" style="color:white">Enter a city name: </label>
    <input type="text" id="cityName" name="cityName" required><br><br>

    <label for= "stateAbbrev" style="color:white">Select a state: </label>
    <select name= "stateAbbrev" id="stateAbbrev" required>
        <option value="" disabled>Choose a state</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
 