<div class= "col-12" >
    <h1 class="display-5" >Enter a city you want to look up:</h1>
        <form action="Crime/CrimeStats" method="get">
        <label for="cityName">Enter a city name: </label>
        <input type="text" id="cityName" name="cityName" required><br><br>

        <label for= "stateAbbrev">Select a state: </label>
        <select name= "stateAbbrev" id="stateAbbrev" required>
            <option value="" disabled>Choose a state</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" style="border-radius: 10px; font-size: 20px; border: 2px solid #101010 ;background-color: #181818; color: white">
    </form>
</div>
