<h1 class="display-5" style="text-align: left;">Enter a city you want to look up:</h1>
<form>
    <label for="cityName">Enter a city name: </label>
    <input type="text" id="cityName" name="cityName"><br><br>
    <input type="submit" value="Submit">
</form>