
<h1 style="color:white">Enter a city you want to look up:</h1>
<form action="CrimeStats" method="get">
    <label for="stateID" style="color:white">Select a state: </label>
    <select name="stateID" id="states" required>
        <option value="">Choose a state</option>
    </select>
    <br><br>
    <label for="cityName" style="color:white">Select a city:</label>
    <select name="cityName" id="cities" required></select>
    <!--<input type="text" id="cityName" name="cityName" required>-->
    <br><br>
    <input id="submit_button" type="submit" value="Submit">
</form>
