<h1 class="display-5">Safest States</h1>
<div class="table-responsive">
    <table class="table table-condensed" align="center" id="safestStatesTable" border="1">
        <thead class="table-dark">
            <tr>
                <th>State</th>
                <th>Violent Crimes</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
