<p style="color:black; display:inline;" id="loadingIcon"><img src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" style="width: 40px;"></p>
<h1 class="display-5 text-light">Safest States @Html.Tooltip("This is a list of all the safest states ordered by Crime Per Capita. These are just some example of states you should look up cities for to get a good idea of what some statistics may look like!")</h1>
<div class="table-responsive">
    <table class="table table-condensed" align="center" id="safestStatesTable" border="1">
        <thead class="table-dark">
            <tr>
                <th>State</th>
                <th>Population</th>
                <th>Crime Per Capita @Html.Tooltip("Crimes per capita is defined as the average number of crimes per 100,000 people")</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
