<h1 class="display-5" style="text-align: left;">Safest Cities</h1>
<div class= "text-left">
    <table id= "safestStatesTable" border="1">
        <thead>
            <tr>
                <th>States</th>
                <th>Violent Crimes</th>
            </tr>
        </thead>
        <tbody> </tbody>
    </table>
</div>