<div class="row">
    <div class="col-3">
        <h1 class="display-5">Safest States</h1>
        <div class="table-responsive">
            <table class="table table-condensed" align="center" id="safestStatesTable" border="1">
                <thead class="table-dark">
                    <tr>
                        <th>State</th>
                        <th>Population</th>
                        <th>Crime Per Capita</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-9">
        <h2 style="text-decoration: underline; text-align: left;">What justifies these as safest states?</h2>
        <p style="text-align: left;">For this, we calculate the crime per capita. The state with the least crime per capita 
            will be considered as the safest state relative to all of the others. This information should be
            taken into consideration if you are looking at moving to specific parts of the country!
        </p>
    </div>
</div>

