<h1 class="display-5 text-light">Safest States</h1>
<div class="table-responsive">
    <table class="table table-condensed" align="center" id="safestStatesTable" border="1">
        <thead class="table-dark">
            <tr>
                <th>State</th>
                <th>Population</th>
                <th>Crime Per Capita @Html.Tooltip("Crimes per capita is defined as the average number of crimes per 100,000 people")</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
