<h1 class="display-5">Enter a state you want to look up:</h1>
<form action="Crime/StateCrimeStats" method="get">
    <label for= "stateAbbrev">Select a state: </label>
    <select name= "stateAbbrev" id="stateAbbrev" required>
        <option value="" disabled>Choose a state</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>