<div class="form-floating m-2">
    <select name="stateAbbrev" id="states" class="form-control" required>
        <option value="">Select a state</option>
    </select>
    <label for="stateAbbrev">State</label>
</div>
<div class="form-floating m-2">
    <select name="cityName" id="cities" class="form-control" required>
    </select>
    <label for="cityName">City</label>
</div>