<label for="year"></label>
<select name="year" id="year" required>
    <option value="0" selected>Select year</option>
    @for (int i = 2020; i >= 1985; i--)
    {
    <option value="@i">@i</option>
    }
</select>