
@using Main.DAL.Concrete

<label for="year"></label>
<select name="year" id="year" required>
    <option value="0" selected>Select year</option>
    @for (int i = FBIService.LatestYear; i >= FBIService.OldestYear; i--)
    {
    <option value="@i">@i</option>
    }
</select>