<label for="yearSelector"></label>
<select name="year" id="year" required>
    <option value="" selected>Select year</option>
    <option value="0">2020</option>
    <option value="1">2019</option>
    <option value="2">2018</option>
    <option value="3">2017</option>
    <option value="4">2016</option>
    <option value="5">2015</option>
    <option value="6">2014</option>
    <option value="7">2013</option>
    <option value="8">2012</option>
    <option value="9">2011</option>
    <option value="10">2010</option>
    <option value="11">2009</option>
    <option value="12">2008</option>
    <option value="13">2007</option>
    <option value="14">2006</option>
    <option value="15">2005</option>
    <option value="16">2004</option>
    <option value="17">2003</option>
    <option value="18">2002</option>
    <option value="19">2001</option>
    <option value="20">2000</option>
    <option value="21">1998</option>
    <option value="22">1997</option>
    <option value="23">1996</option>
    <option value="24">1995</option>
    <option value="25">1994</option>
    <option value="26">1993</option>
    <option value="27">1992</option>
    <option value="28">1991</option>
    <option value="29">1990</option>
    <option value="30">1989</option>
    <option value="31">1988</option>
    <option value="32">1987</option>
    <option value="33">1986</option>
    <option value="34">1985</option>
</select>
<!--<input hidden id="year" value="@ViewBag.year" type="text">-->