
html {
    background: url(../bg.jpg);
    background-size: cover;
}

body {
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Times New Roman";
    font-size: 16px;
}

header {
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

.sp-content {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 8px;
}

table {
    max-width: 256px;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.sidebarToggle {
}

.sp-mainbar {
    /*background-color: rgb(178, 0, 255);*/
}

.sp-sidebar {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 36px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav {
    font-size: 24px;
}