
.sp-content {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 8px;
}

table {
    max-width: 256px;
}

th {
    padding: 8px; 
    border: 1px solid black;
    background-color: rgb(120,81,169);
}

td {
    padding: 6px; 
    border: 1px solid black;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.sidebarToggle {
}

.sp-mainbar {
    /*background-color: rgb(178, 0, 255);*/
}

.sp-sidebar {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 36px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav {
    font-size: 24px;
}
