
body {
    margin-bottom: 60px;
    background-color: silver;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Times New Roman";
    font-size: 16px;
}

header {
    margin-bottom: 60px;
    background-color: silver;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    max-width: 256px;
}

th {
    border: 1px solid black;
    background-color: rgb(120,81,169);
}

td {
    border: 1px solid black;
}

th td {
    column-span: none;
}

.sp-mainbar {
    /* background-color: rgb(178, 0, 255); */
}

.sp-sidebar {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 40px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav {
    font-size: 24px;
}