
@section ApplyNow {


    <section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>A Few Facts About Our Company</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students">
                                    <div class="words">Mission Statement</div>
                                    <div class="count-title">To give all people, whom are born to be free, a tool to seek peace and security in both financial investments and home searching.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">100</div>
                                    <div class="count-title">Our diversity brings us a broader view of the people we serve.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">3</div>
                                    <div class="count-title">Three individuals looking to bring knowledge to the world.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="words">Founded</div>
                                    <div class="count-title">2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=b1TuS31G_dg" target="_blank"><img src="~/assets/images/play-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>





}


