@{
    ViewData["Title"] = "Oops!";
}

@section Banner {
    <p>
        <h1>@(ViewData["Err"])</h1>
        It would appear an error has occurred. Sorry about that, we'll get right on it.
        <br /><br />
        You can help us by emailing <a href="mailto:sliceofpi.cs46x@gmail.com">Slice of Pi directly</a> and explaining what happened.
        <br /><br />
        Alternatively, you can make an issue <a href="https://github.com/JeffPerando/Slice-of-Pi/issues">on our GitHub</a>.
    </p>
}