@{
    ViewData["Title"] = "Welcome to Slice of Pi Real Estate";
}

@section Banner {
<p>This is life of Pi bringing you a centralized research application. Be informed about the kind of community you may end up belonging to.</p>
}

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-01.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Get Crime Rates by State</h4>
                            <p>Find out what kind of crime the state you may live in experiences.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-01.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>City Crime Rates</h4>
                            <p>Be even more informed and see what kind of crimes are common in your city of interest.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-01.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Register</h4>
                            <p>Like what you see? Register for an account using the register link above!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section UpcomingMeetings {
    <div class="row">
        <div class="col text-center my-5">
            <partial name="_CityLookupForm" />
        </div>
    </div>
    <div class="row">
        <div class="col text-center my-5">
            <partial name="_SafestStates" />
        </div>
    </div>
}

@*<form action="Crime/CrimeStats" method="get">
    <label for="cityName" style="color:white">Enter a city name: </label>
    <input type="text" id="cityName" name="cityName" required><br><br>

    <label for= "stateAbbrev" style="color:white">Select a state: </label>
    <select name= "stateAbbrev" id="stateAbbrev" required>
        <option value="" disabled>Choose a state</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>*@

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Top Community Picks</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-courses-item owl-carousel">
<!--change from recommended to higlighted-->
<!--cache data and make it load randomly-->
<!--make an admin page to change highlights with out bring the site down-->
<!--hyrbid ticketing service for managing user submissions-->
<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Lake Oswego" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "OR">
        <option value="OR"></option>
    </select>
          <div class="item">
            <img src="assets/images/course-01.jpg" alt="Course One" width="400" height="200" >
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Lake Oswego, OR">
            </div>
          </div>
</form>

<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Sedona" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "AZ">
        <option value="AZ"></option>
    </select>
          <div class="item">
            <img src="assets/images/course-02.jpg" alt="Course Two" width="400" height="200">
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Sedona, AZ">
            </div>
          </div>
</form>

<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Shaker Heights" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "OH">
        <option value="OH"></option>
    </select>
          <div class="item">
            <img src="assets/images/course-03.jpg" alt="" width="400" height="200">
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Shaker Heights, OH">
            </div>
          </div>
</form>


<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Greenwood Village" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "OR">
        <option value="CO"></option>
    </select>
          <div class="item">
            <img src="assets/images/GreenWood.jpg" alt="" width="400" height="200">
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Greenwood Village, CO">
            </div>
          </div>
</form>


<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Evanston" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "IL">
        <option value="IL"></option>
    </select>
          <div class="item">
            <img src="assets/images/Evanston.jpg" alt="" width="400" height="200">
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Evanston, IL">
            </div>
            </div>
</form>


<form action="Crime/CrimeStats" method="get">
    <input hidden type="text" id="cityName" name="cityName" value= "Amherst" required>
    <select hidden  name= "stateAbbrev" id="stateAbbrev" value = "NH">
        <option value="NH"></option>
    </select>
          <div class="item">
            <img src="assets/images/Amherst.jpg" alt="" width="400" height="200">
            <div class="down-content">
                    <input class = "IvansText" type="submit" value="Amherst, NH">
            </div>
          </div>
</form>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <h2>A Few Facts About Our Company</h2>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-12">
                <div class="count-area-content new-students">
                  <div class="words">Mission Statement</div>
                  <div class="count-title">To give all people, whom are born to be free, with a tool to seek peace and security in both financial investments and home seeking.</div>
                </div>
              </div>
              <div class="col-12">
                <div class="count-area-content percentage">
                  <div class="count-digit">100</div>
                  <div class="count-title">Our diversity brings us a broader view of the people we serve.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
            <div class="col-12">
                <div class="count-area-content">
                  <div class="count-digit">3</div>
                  <div class="count-title">Three individuals looking to bring knowledge to the world.</div>
                </div>
              </div>
              <div class="col-12">
                <div class="count-area-content">
                  <div class="words">Founded</div>
                  <div class="count-title">2022</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="video">
          <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

@section ApplyNow {
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="item">
                            <h3>Register for an account here!</h3>
                            <p>Register and be part of a new generation of informed home buyers!</p>
                            <div class="main-button-yellow">
                                <a asp-area="Identity" asp-page="/Account/Register">Join Us Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="accordions is-first-expanded">
                <article class="accordion">
                    <div class="accordion-head">
                        <span>About The crime statistics</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                            <p>This website uses data from the FBI's crime API. Through this set of data we can present data in a way that is readible for humans, not just computers! </p><br><br>
                        </div>
                    </div>
                </article>
                <article class="accordion">
                    <div class="accordion-head">
                        <span>Future Content News</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                            <p>This website is not finished! Not only are we streamlining the ability for anyone to make an informed decision on the future community they may belong too, we plan on offering a one stop shop for browsing for future homes as well! <br><br></p>
                        </div>
                    </div>
                </article>
                <article class="accordion">
                    <div class="accordion-head">
                        <span>Tell your friends and family</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                            <p>We implore you to tell your friends and family! Give them the opportunity to make an informed decison.<br><br/></p>
                        </div>
                    </div>
                </article>
                <article class="accordion last-accordion">
                    <div class="accordion-head">
                        <span>Share this to your colleagues</span>
                        <span class="icon">
                            <i class="icon fa fa-chevron-right"></i>
                        </span>
                    </div>
                    <div class="accordion-body">
                        <div class="content">
                            <p>Be a leader at the work place, inform your colleagues too!<br><br>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
}
@section Scripts
{
<script type="text/javascript" src="~/js/index.js" asp-append-version="true"></script>
}
<!--
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Let's get in touch</h2>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4">
                  <fieldset>

                </fieldset>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info">
          <ul>
            <li>
              <h6>Phone Number</h6>
              <span>010-020-0340</span>
            </li>
            <li>
              <h6>Email Address</h6>
              <span>info@meeting.edu</span>
            </li>
            <li>
              <h6>Street Address</h6>
              <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
            </li>
            <li>
              <h6>Website URL</h6>
              <span>www.meeting.edu</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
-->
