@{
    ViewData["Title"] = "Home Page";
}

<div class = "container">
    <div class="row">
        <div class="col-4">
            <h1 class="display-5" style="text-align: left;">Welcome</h1>
            <p style="text-align: left;">Make the right choice on your potential new home. Look up crime statistics for the community of your potential new home.</p>
        </div>
        <div class="col-8">
            <partial name="_CityLookupForm" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <partial name="_SafestCities" />
        </div>  
    </div>
</div>