@{
    ViewData["Title"] = "Home Page";
}
<html>
    <body>
    <h1 class="display-4">Welcome</h1>
    <p>Make the right choice on your potential new home, <a href="https://docs.microsoft.com/aspnet/core">Crime Statistics of the community of your potential new home</a>.</p>
    </body>
</html>