@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col text-center">
        <div class="justify-content-center">
            <h1 class="display-5">Welcome</h1>
            <p>Make the right choice on your potential new home, <a href="https://docs.microsoft.com/aspnet/core">Crime Statistics of the community of your potential new home</a>.</p>
            <partial name="_CityLookupForm" />
            <partial name="_SafestCities" />
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/site.js"></script>
}

