@{
    ViewData["Title"] = "Works Cited";
}

@section Banner {
<h2><a href="https://crime-data-explorer.fr.cloud.gov/pages/docApi">FBI Crime API Link</a></h2>
<h6>The FBI crime api page offers statistical data about crime in a state and the states respective city.</h6>
<h6>Data is provided in JSON format, which is easy to read for a program, and a programmer. This is how we</h6>
<h6>provide our users with accurate and up to date information.</h6>
}
