<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<form action="#" onsubmit="return callAjaxForState()" method="get">-->
                <!--<form action="stateCrimeStats" method="get">-->
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="caption">
                                    <h6>HERE ARE A LIST OF STATES</h6>
                                    <h2>SELECT A STATE AND YEAR</h2>
                                    <label for="stateAbbrev"></label>
                                    <select name="stateAbbrev" id="stateAbbrev" required>
                                        <option value="" disabled>Choose a state</option>
                                    </select>
                                    <br><br>
                                    <partial name="_YearPartial" />
                                    <input type="button" value="Submit" onclick="fetchCrimeStats(this)">
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <img id="spinnyBoi" src="~/spinner.gif" style="width: 64px; height: 64px; display: none;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section UpcomingMeetings {
<div class="text-left" id="stateCrimeDiv" hidden>
    <h1 style="color:white;" id="stateCrimeHeader"> <span>@ViewBag.stateAbbrev</span></h1>
    <table id="stateCrimeTable" class="table">
        <thead class="table-dark">
            <tr>
                <th>Population</th>
                <th>Violent Crimes</th>
                <th>Homicide</th>
                <th>Rape (Legacy) @Html.Tooltip("The legal definition of rape in the US was revised in 2015; this stat is for pre-2015 data.")</th>
                <th>Rape (Revised)</th>
                <th>Robbery</th>
                <th>Aggravated Assault</th>
                <th>Property Crime</th>
                <th>Burglary</th>
                <th>Larceny</th>
                <th>Motor Vehicle Theft</th>
                <th>Arson</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
}

@section Scripts {
<script type="text/javascript" src="~/js/stateCrime.js" asp-append-version="true"></script>
}