@page
@using Main.Areas.Identity.Pages.Account.Manage
@model Disable2faModel
@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@section Banner
{
<div class="bg-semi p-4 m-4">
    <div class="row">
        <div class="col">
            <partial name="_StatusMessage" for="StatusMessage" />
            <h2>Disable two-factor authentication (2FA)</h2>

            <div>
                <p>
                    <strong>This action only disables 2FA.</strong>
                </p>
                <p>
                    Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                    used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
                </p>
            </div>

            <div>
                <form method="post">
                    <button class="btn btn-danger" type="submit">Disable 2FA</button>
                </form>
            </div>

        </div>
    </div>
</div>
}