@page
@model ForgotPasswordModel

@section Banner {
<div class="bg-semi p-4 m-4">
    <h2>Forgot your password?</h2>
    <p>We get it, sometimes you forget things, but thats okay!</p>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating py-1">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label text-dark"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <input asp-for="Input.CaptchaResponse" class="g-recaptcha" type="hidden" id="cappy" aria-required="true" />
        <button type="submit" class="w-100 btn btn-lg btn-danger">Reset Password</button>
    </form>
</div>
}

@section Scripts {
<script type="module" src="~/js/captcha.js" asp-append-version=true></script>
<script>
    validateCaptcha("pwResetReq");
</script>
}
