@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset link sent";
}

@section Banner {
<p>
    If you can't find your email, check your spam folder.
</p>
<p>
    Your reset link will expire in <b>1 hour</b>.
</p>
}