@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="bg-white">

    <h1>@ViewData["Title"]</h1>
    @{
        <p>
            Registration confirmed! Sending code...
        </p>
    }
</div>
