@page
@model RegisterModel
@using Main.Extensions

@section Banner {
<div class="row">
    <div class="col bg-semi p-4 m-4">
        <h2>Account Creation</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="py-1">
                <label asp-for="Input.Email" class="text-light"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="johndoe@gmail.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="py-1">
                <label asp-for="Input.Password" class="text-light"></label> @Html.Tooltip("Minimum 12 characters. Must contain an uppercase letter, lowercase letter, and number.")
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="CorrectHorseBatteryStaple" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="py-1">
                <label asp-for="Input.ConfirmPassword" class="text-light"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input asp-for="Input.CaptchaResponse" class="g-recaptcha" type="hidden" id="cappy" aria-required="true" />
            <button id="registerSubmit" type="submit" class="my-2 w-100 btn btn-lg btn-danger">Register</button>
        </form>
    </div>
</div>
}

@section Scripts {
<script src="https://www.google.com/recaptcha/api.js?render=6LclWdYeAAAAAC9jApJxsbBpuHEUIODlc8yOICgn"></script>
<script src="~/js/captcha.js" asp-append-version=true></script>
<script>
    validateCaptcha("register");
</script>
}