@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@section Banner {
<h2>Reset your password.</h2>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-floating">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Email" class="form-label text-dark"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.Password" class="form-label text-dark"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.ConfirmPassword" class="form-label text-dark"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <input asp-for="Input.CaptchaResponse" class="g-recaptcha" type="hidden" id="cappy" aria-required="true" />
    <button type="submit" class="w-100 btn btn-lg btn-primary" style=" font-size: 20px; border: 2px solid #101010 ;background-color: #181818; color: white">Reset</button>
</form>
}

@section Scripts {
<script src="https://www.google.com/recaptcha/api.js?render=6LclWdYeAAAAAC9jApJxsbBpuHEUIODlc8yOICgn"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LclWdYeAAAAAC9jApJxsbBpuHEUIODlc8yOICgn', { action: 'pwReset' }).then(function (token) {
            $("#cappy").val(token);
        });
    });

</script>
}