@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="row bg-white">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <h2>Sending email...</h2>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
