
<section class="heading-page header-text" id="top" >
    <div class="container">
        <div class="row">
            <div class="bg-semi p-4 m-4">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-8">
                            <partial name="_CityLookupForm" />
                            <br>
                        </div>
                        <div class="col-sm-4">
                            <partial name="_SafestStates" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section UpcomingMeetings {}

@section Scripts {
<script type="text/javascript" src="~/js/safestStates.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/stateAndCityForm.js" asp-append-version="true"></script>
}