<div class="row">
    <div class="col sp-content bg-white">
        <div class="text-left">
            <h1>@ViewData["Title"] Crime statisctics for the state of <span>@ViewBag.stateAbbrev</span></h1>
            <table id="stateCrimeTable" class="table">
                <thead class="table-dark">
                    <tr>
                        <th>State</th>
                        <th>Year</th>
                        <th>Population</th>
                        <th>Violent Crimes</th>
                        <th>Homicide</th>
                        <th>Rape(Legacy)</th>
                        <th>Rape(Revised)</th>
                        <th>Robbery</th>
                        <th>Aggravated Assault</th>
                        <th>Property Crime</th>
                        <th>Burglary</th>
                        <th>Larceny</th>
                        <th>Motor Vehicle Theft</th>
                        <th>Arson</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<input hidden id="stateAbbrev" value="@ViewBag.stateAbbrev" type="text">

@section Scripts
{
    <script type="text/javascript" src="~/js/stateCrime.js" asp-append-version="true"></script>

}