@model StateCrimeViewModel
@{
    ViewData["Title"] = "Look up By State";
}

<div class="row">
    <div class="col text-center">
        <div class="justify-content-center">
            <div class="bg-white sp-content">
                <h1 class="display-5">Welcome</h1>
                Please Select a State from the drop down menu below
            </div>
            <div class="bg-white sp-content">
                <form action="SingleStateStats" method="Get"> 
                    <label for= "stateAbbrev">Select a state: </label>
                    <select name= "stateAbbrev" id="stateAbbrev" required>
                        <option value="" disabled>Choose a state</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

<input hidden id="stateAbbrev" value="@ViewBag.stateAbbrev" type="text">

@section Scripts
{
    <script type="text/javascript" src="~/js/stateCrime.js" asp-append-version="true"></script>

}